<header class="header-container">
    <a (click)="goHome()" style="cursor:pointer" class="logo-text-link">
        <div class="logo">
            <img src="assets/logo.png" alt="Logo" />
        </div>

        <div class="header-text"> 
            <h2>BluMeteo</h2>  
            <h4><em>Il sito più affidabile per le previsioni meteo!</em></h4> 
        </div>
    </a>

    <div class="action-icons">
      <button class="icon-button" (click)="goToMap()" aria-label="Mappa">
        <img src="assets/mappa.png" alt="Mappa" />
      </button>

      <button class="icon-button" (click)="goToLogin()" aria-label="Login" style="cursor:pointer; background:none; border:none;">
        <img src="assets/login.jpg" alt="Login" />
      </button>
    </div>
</header>