.personal-area-container {
  max-width: 280px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.access-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 14px; 
  background-color: white; 
  color: #007bff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.access-title.active {
  background-color: #007bff;
  color: white;
  border: 1px solid white;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.personal-area-container input[type="email"],
.personal-area-container input[type="password"],
.personal-area-container input[type="text"] {
  width: 90%;
  outline: none;
  border: 1px solid #ccc;  
  box-shadow: none;
  padding: 6px 8px;       
  border-radius: 3px;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.personal-area-container input[type="email"]:focus,
.personal-area-container input[type="password"]:focus,
.personal-area-container input[type="text"]:focus {
  outline: none;
  border: 1px solid #007bff;      
  box-shadow: 0 0 5px #007bff;  
}


.password-wrapper {
  position: relative;
}

.eye-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.options-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}

.register-text {
  display: block;
  width: fit-content; 
  max-width: 100%;
  margin: 10px auto 0;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px;
  user-select: none;
  background-color: white;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.login-button {
  width: 100%;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

button {
  margin-top: 10px;
}

.logout-button {
  width: 100%;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.form-group {
  margin-bottom: 10px; 
}