<div class="personal-area-container">
  <h2 class="access-title" *ngIf="!isLoggedIn && !isRegistering" [class.active]="!isRegistering" (click)="switchToLogin()">Accedi a BluMeteo</h2>
  <h2 class="access-title active" *ngIf="isRegistering" (click)="switchToLogin()">Registrati a BluMeteo</h2>
  <h2 class="access-title active" *ngIf="isLoggedIn">Sei loggato a BluMeteo</h2>

  <div *ngIf="!isLoggedIn && !isRegistering">
    <div class="form-group">
      <input type="email" [(ngModel)]="email" placeholder="Inserisci email" />
    </div>

    <div class="form-group">
      <div class="password-wrapper">
        <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="Inserisci password" />
        <span class="toggle-eye" (click)="togglePasswordVisibility()">👁️</span>
      </div>
    </div>

    <div class="options">
      <label>
        <input type="checkbox" [(ngModel)]="rememberMe" checked />
        Ricordami per 24h
      </label>
    </div>

    <button (click)="login()">LOGIN</button>

    <p class="register-text" (click)="switchToRegister()" [class.active]="isRegistering">Registrati ora e scopri i vantaggi!</p>
  </div>


  <div *ngIf="isRegistering">
    <div class="form-group">
      <input type="email" [(ngModel)]="email" placeholder="Inserisci email" />
    </div>

    <div class="form-group">
      <div class="password-wrapper">
        <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="Inserisci password (min 8 caratteri)" />
        <span class="toggle-eye" (click)="togglePasswordVisibility()">👁️</span>
      </div>
    </div>

    <button class="register-button" (click)="register()">REGISTRATI</button>

    <p 
      class="register-text" 
      (click)="switchToLogin()" 
      [class.active]="!isRegistering"
    >
      Torna al login
    </p>
  </div>


  <div *ngIf="isLoggedIn" class="welcome">
    <p>Benvenuto, {{ email }}</p>
    <button (click)="logout()">LOGOUT</button>
  </div>
</div>