<div class="map-container">
  <div id="map"></div>

  <div class="city-list">
    <h3>Capitali Europee</h3>
    <ul>
      <li *ngFor="let city of cities" (click)="selectCity(city)">
        {{ city.name }}
      </li>
    </ul>
  </div>

  <div *ngIf="isLoggedIn" class="weather-options">
    <h4>Opzioni meteo:</h4>
    <label>
      <input type="checkbox" [(ngModel)]="showWind"/>Mostra vento
    </label>
    <br />
    <label>
      <input type="checkbox" [(ngModel)]="showWeatherCode"/>Mostra codice meteo
    </label>
  </div>
</div>
